.amount {
  background-color: #FFFFFF;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.payment-option {
  background-color: transparent;
  border: none;
  display: inline-block;
}

.payment-option p {
  margin-top: 10px;
}

.payment-option:hover img {
  background-color: #f1f1f1;
}